
            
            <div class="header-top" style="background-color:white;padding-bottom:2px;margin-top:-12px;">
                <div class="container" style="margin-top:63px;">
                    <a href="#" class="logo" style="margin-left: 32pc;
                    font-size: 26px;
                    padding-top: 13px;
                    padding-bottom: 12px; font-weight:bold;color: #8B008B;">RIN'S WORLD</a>
                </div>
                <div class="header-bottom" style="background-color: black;
                padding: 27px 0;
                /* position: fixed; */
                width: 1286px;
                /* top: 0; */
                margin-top: -99px;
                margin-bottom: -10px;
                position: fixed;">
                    <div class="container" style="margin-top: 96px;
                    height: 40px;
                    /* padding-bottom: -42px; */
                    margin-bottom: -21px;">
                        <nav class="mainnav" style="margin-left: 581px;">
                            <ul>
                                <li style="color:whitesmoke"><a href="#">OUR TEAM</a></li>
                                  <li style="color:whitesmoke">  <a href="#">CONTACT US</a></li>
                                 <li style="color:whitesmoke">   <a href="#">LOGIN</a></li>
                                 <li style="color:whitesmoke">   <a href="#">REGISTER</a></li>  
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="banner">
                    <div id="banner">
                        <div class="doorHoverLeft"><p class="doorText" style="text-align:right">WELCOME TO OU</p></div>

                        <h2 style="margin-left: 170px;
                        margin-top: 118px;color:#ffff00" class="blink_me"><b>INTRODUCING</b></h2>
                        <h2>
                           <span style="color:#ffff00"><b>THE FUTURE OF ADVENTURE</b></span>
                        </h2>
                     
                           
                            <div class="sign">
                                <span class="fast-flicker">Virtual&nbsp; </span>Reality&nbsp;<span class="flicker">is&nbsp;</span>&nbsp;here
                              </div>
                        <div class="doorHoverRight" style="margin-right:1.8px"><p class="doorText" style="padding-left:0;text-align:left">R Innovation Club</p></div>
                </div>
                </div>
                

            </div>
            <div class="class">
              
                <div>
               
              </div>




              <div>
              <div class="background-image"> 
                <div class="container">
                    <div class="row">
                      <div class="col-md-12 text-center">
                        
                        <h3 class="animate-charcter" style=" height: 165px;
                        /* margin-top: 44px; */
                        padding-top: 84px;
                        /* padding-bottom: -41px; */
                        /* margin-left: -672px; */
                        margin-left: -730px;
                        margin-top: -49px;
                        font-size: 42px;
                      ">EXPLORE OUR NEW IDEAS</h3>
                      

                      
                      
                      </div>
                      
                      <img src="../../assets/computer.gif"  style="width: 148px;
                      height: 103px;
                      margin-top: -102px;
                      margin-left: 492px;
                      border-radius: 15px;">
                      

                      <div class="wrapper" style="margin-left: -52px;">
                        
                        <li>
                          <a href="#0" class="marquee" style="margin-left:28px">Interactive</a>
                        </li>
                        <div style="margin-left: 54px;
                        width: 475px;
                        height: 27px;
                        margin-top: 14px;
                        font-size: 15px;">
                        <span style="font-size: 17.5px;
                        margin-left: -31px;color:#ffff00">Productivity increases and interest develops with interaction.</span>
                        <br>
                        <span style="font-size:15px;color:#ffff00">Similar to learning with friends</span>
                        </div>
                       
                      </div>
                      <img src="./../../assets/96c62e6662af988acd3668bf3c2b014f.gif"  style="width: 148px;
                      height: 103px;
                      margin-top: 24px;
                      margin-left: 492px;
                      border-radius: 15px;">
                      
                      <div class="wrapper" style="margin-top:38px;margin-left: -26px;">
                     
                        <li style="list-style-type:none">
                          <a href="#0" class="marque" style="width: 153px;margin-left:-15px;">Choice Based</a>
                        </li>
                                                <div >
                       <h4 style="width: 514px;
                       font-size: 17.5px;
                       margin-top: 10px;color:#ffff00">
                         Help Students learn spoken English using different scenarios. 
                       </h4>
                       
                      </div>

                      
                    </div>

                    <img src="./../../assets/ae9def78721119.5cad14185a300.gif"  style="width: 148px;
                    height: 103px;
                    margin-top: 24px;
                    margin-left: 492px;
                    border-radius: 15px;">
                     <div class="wrapper" style="margin-top:38px;margin-left: -26px;">
                     <li style="list-style-type:none">
                  <a href="#0" class="marqu" style="width: 153px;margin-left:-52px">VR Game</a>
                    </li>
                    <div >
                    <h4 style="width: 364px;
                    font-size: 17.5px;
                    margin-top: 10px;
                    margin-left: 45px;color:#ffff00">It simulates real world into virtual environment.</h4>
                            
                  
              </div>      
              </div>
              </div>
    

            </div>
            <div>
              <img src="./../../assets/ezgif.com-resize-1.gif" alt="Computer man" style="  width: 445px;
              height: 275px;
              margin-top: -316px;
              margin-left: 41px;
              border-radius: 15px;">
              </div>
                           
          </div>
                  
            </div>
            </div>
          <br>
          <br>
          






          
          <div class="idd" style="margin-bottom: -17px;margin-top: -41px;">
            <h1 class="slide-right"  >
              <p style="color:black">Objectives of Our Project</p>
              </h1>
              </div>
          
<div class="idd" style="margin-bottom: -17px;margin-top: -41px;">
            <h1 class="slide-right"  >
              <p style="color:black">Objectives of Our Project</p>
              </h1>
              </div>
                       
<div class="idd" style="margin-bottom: -17px;margin-top: -41px;">
  <h1 class="slide-right"  >
    <p style="color:black">Objectives of Our Project</p>
    </h1>
    </div>
              
<div class="idd" style="margin-bottom: -28px;margin-top: -41px;">
  <h1 class="slide-right"  >
    <p style="color:#32CD32;font-size: 29px;font-weight: bold;">Objectives of Our Project</p>
    </h1>
    </div>
       
            <div id="container1" class="image1">
           
              <div class="thumbnail-component" style="margin-bottom:8px">
                <img class="thumbnail-component__background" src="background.jpg" alt="">
                <div class="thumbnail-component__gradient"></div>
                <div class="text">
                  <div> <mat-icon style="background-color: white;margin-left: -447px;margin-top: -52px;width:24px;margin-bottom:-5px">supervised_user_circle</mat-icon></div>

                  <div class="text__content" style="margin-left: -60px;">
                    <p class="text__title" style="color: yellow;
                    margin-left: -46px;
                    margin-top: -29px;
                    font-size: 24px;
                    width:567px">Scenario Based</p>


                    <div class="text__separator"></div>

                    <p class="text__description" style="color:aliceblue;margin-left: 187px;font-size:19px;width:463px">
                 

                      
                                          Encourages to contextualized practice mirroring decision-making in real-life situations.
                       
                    </p>

                    <p class="text__author" style="color:black">Published by Author</p>
                  </div>
                </div>
              </div>







              <div class="thumbnail-component1" style="margin-bottom:8px">
                <img class="thumbnail-component1__background" src="background.jpg" alt="">
                <div class="thumbnail-component1__gradient"></div>
                <div class="text">
                  <div> <mat-icon style="background-color: white;margin-left: -447px;margin-top: -52px;width:24px;margin-bottom:-5px">insert_emoticon</mat-icon></div>

                  <div class="text__content" style="margin-left: -60px;">
+                    <p class="text__title" style="color: yellow;
                    margin-left: -66px;
                    margin-top: -29px;
                    font-size: 24px;
                    width:567px">Interaction</p>


                    <div class="text__separator"></div>

                    <p class="text__description" style="color:aliceblue;margin-left: 187px;font-size:19px;width:463px">
                 

                      &nbsp;
                      This project innovatively studies the combinatation of immersion based English teaching with VR.
                       
                    </p>
+
                    <p class="text__author" style="color:black">Published by Author</p>
                  </div>
                </div>
              </div>




              <div class="thumbnail-component1" style="margin-bottom:8px">
                <img class="thumbnail-component1__background" src="background.jpg" alt="">
                <div class="thumbnail-component1__gradient"></div>
                <div class="text">
                  <div> <mat-icon style="background-color: white;margin-left: -447px;margin-top: -52px;width:24px;margin-bottom:-5px">videocam</mat-icon></div>

                  <div class="text__content" style="margin-left: -60px;">
           
                    <p class="text__title" style="color: yellow;
                    margin-left: -50px;
                    margin-top: -29px;
                    font-size: 24px;
                    width:567px">Entertainment</p>
                                    


                    <div class="text__separator"></div>

                    <p class="text__description" style="color:aliceblue;margin-left: 187px;font-size:19px;width:463px">
                 

                      &nbsp;
                      VR can simulate a real panoramic experimental environment and dynamic simulation.               
                       
                    </p>


                    <p class="text__author" style="color:black"> Published by Author</p>
                  </div>
                </div>
              </div>





              <div class="thumbnail-component1" style="margin-bottom:8px">
                <img class="thumbnail-component1__background" src="background.jpg" alt="">
                <div class="thumbnail-component1__gradient"></div>
                <div class="text">
                  <div> <mat-icon style="background-color: white;margin-left: -447px;margin-top: -52px;width:24px;margin-bottom:-5px">assignment</mat-icon></div>

                  <div class="text__content" style="margin-left: -60px;">
                  
                    <p class="text__title" style="color: yellow;
                    margin-left: -69px;
                    margin-top: -29px;
                    font-size: 24px;
                    width:567px">Self Learn</p>
                                       


                    <div class="text__separator"></div>

                    <p class="text__description" style="color:aliceblue;margin-left: 187px;font-size:19px;width:463px">
                 

                      &nbsp;
VR learning games makes it easier! Learn at their own-pace in self-directed manner.                     
                    </p>
                  

                    <p class="text__author" style="color:black">Published by Author</p>
                  </div>
                </div>
              </div>







            


           
              <div>
                <img src="./../../assets/house.gif" alt="Computer man" style="  margin-left: 607px;
                margin-top: -413px;
                border-radius: 34px;">
                </div>
                </div>
              


  <div class="train">
    <h1 style="color:#FF00FF;font-size:30px;font-weight:500;margin-top: 38px;
    margin-left: 533px;text-decoration: underline yellow;">Scope of our project</h1>
<div>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  
  <main>
    <div class = "card">
      <img src="./../../assets/internet-user-s-silhouette_23-2147497532.avif"alt="">
      <div class="card-content">
        <h6>
          USERS
        </h6>
        <p>
          Any user interested to learn English and even though students are unable to speak it can train people in to level to communicate in English,There is no age restriction for this game.
          
        </p>
        <a href="#" class="button">
          Find out more 
          <span class="material-symbols-outlined">
            arrow_right_alt
          </span>
        </a>
      </div>
    </div>



    
  </main>
  </div>



  
<div>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    
    <main>
      <div class = "card1">
        <img src="../../assets/Virtual_Reality_1.avif" alt="">
        <div class="card1-content">
          <h6 style="font-size:20px;color:Orange;font-weight: bolder;">
            Users & Internet
          </h6>
          <p style="color:#ffff00">
            Any user interested to learn English and even though students are unable to speak it can train people in to level to communicate in English,There is no age restriction for this game.
          </p>
       
            <span class="material-symbols-outlined">
              arrow_right_alt
            </span>
       
        </div>
      </div>
    </main>
  
  </div>
  

  <div>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    
    <main>
      <div class = "card3">
        <img src="./../../assets/maxresdefault.jpg" alt="">
        <div class="card1-content">
          <h6 style="font-size:20px;color:white;font-weight: bolder;">
            Language
          </h6>
          <p style="color:  #d90026;font-size:17px;font-weight:500">
            Language is very adaptable in our game,a student can easily understand low standard english
          </p>
        
        </div>
      </div>
    </main>
  
  </div>
  







  
  <div>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    
    <main>
      <div class = "card4">
        <img src="./../../assets/little girl.jpg" alt="">
        <div class="card1-content">
          <h6 style="font-size:20px;color:	#FFFF00;font-weight: bolder;">
            Knowledge
          </h6>
          <p style="color:	#FF1493;font-size:18px;font-weight:550">
            We intended to design our project in a way a complete beginner can comfortably learn English and gain Knowledge.</p>
         
        </div>
      </div>
    </main>
  
  </div>
  </div>





  <div class="animation" style="margin-top:-50px">

  <div class="name11">
    
      <div class="patterns" style="margin-bottom: -133px;
      margin-top: 79px;">
        <svg width="100%" height="100%" style="  margin-top: -80px;
        padding-bottom: 193px;
      ">
          <defs>
            <pattern id="polka-dots" x="0" y="0" width="100" height="100"
                     patternUnits="userSpaceOnUse">
              <circle fill="#be9ddf" cx="25" cy="25" r="3"></circle>
            </pattern>    
          </defs>         
       <text x="50%" y="60%"  text-anchor="middle" style="font-size:80px" >
       Significiance
       </text>
    
       </svg>
      </div>
      

<div class="hrml" style="height: 119px;
width: 591px;border-radius:18px;  margin-top: -382px;
">
 <h5 style="font-size:20px;margin-top:55px;padding-top: 10px;color:black">Tackle Poor Knowledge on English</h5>
 <span style="font-size:15px">With little knowledge on English we lack Confidence and getting selected</span>
 <br>
  <span style="font-size:15px">for a job may be difficult</span>
</div>
  </div>





  <div style="margin-top:-21px">
    <div class="hrml1" style="height: 119px;
    width: 591px;border-radius:18px">
     <h5 style="font-size:20px;margin-top:55px;padding-top: 10px;color:black">Overcome Difficulties for Rural area students</h5>
     <span style="font-size:15px">Makes student feel less confident in talking with others</span>
     <br>
      <span style="font-size:15px"> Makes them feel inferior to Others</span>
    </div>
      </div>




      <div style="margin-top:-17px">
        <div class="hrml2" style="height: 119px;
        width: 591px;border-radius:18px">
         <h5 style="font-size:20px;margin-top:55px;padding-top: 10px;color:black">Optimise Time spent on games</h5>
         <span style="font-size:15px">Very huge amount of time that can be spent on learning now</span>
         <br>
          <span style="font-size:15px">things is spent on playing games</span>
        </div>
          </div>




          <div style="margin-top:-21px">
          
            <div class="hrml3" style="height: 119px;
            width: 591px;border-radius:18px">
             <h5 style="font-size:20px;margin-top:55px;padding-top: 10px;color:black">Interactive learning</h5>
             <span style="font-size:15px">With little knowledge on English we lack Confidence and getting selected</span>
             <br>
              <span style="font-size:15px">for a job may be difficult</span>
            </div>

              </div>



   
              <div>
                <h1>
                  <img src="../../assets/girls and boys.gif" alt="" style="height: 468px;
                  margin-left: 41px;
                  margin-top: -616px;
                  width: 504px;
                  border-radius: 26px;">

                </h1>
              </div>

                           
<div style="margin-left: 376px;  margin-top: -778px;
">
  <span style="color:		#00FA9A;font-size: 29px;
  margin-left: 100px;font-weight:bold; text-decoration: underline orange;">To take up this project</span>
</div>          

</div>



















  



    

    
     
      <div >
        <h1 style="margin-left: 356px;
        font-weight: bold;
        margin-top: 12px;color:#DC143C">Our Analysis and information collecting in all sectors
        </h1>
        <article class="article">
          <figure class="figuring">
            <img src='../../assets/coding.gif'
            alt />
          </figure>
       
        
         
          <section class="remotelearning">
              <div >
                <br/>
                <br/>
                <h1 style="font-weight:bold;text-decoration: underline;margin-left:648px;color:#FFFF00">Remote Learning</h1>
                <p style="font-size:15px;font-weight:450;margin-left:650px;margin-top:15px;height:500px">  The structure of remote learning will determine the success students. The success of<br/>
                    <br/>
                    remote learning lies in a supportive infrastructure maintained by teachers.In our project we  <br/><br/>
                    are intended In our project we are intended to provide an facililty,to gain knowledge and  to <br/><br/>
                    gain knowledge and experience through remote learning.So we are intended to provide<br/><br/>
                    Remote Learning.. Most of the rural areas students can easily acquire knowledge in English <br/><br/>
                    Language. Remote Learning also helps students to develop softskills in their life.</p>
              </div>
          </section>
          
          <figure class="figuring">
            <img src='./../../assets/medical.gif' alt />
          </figure>
         
          
          <figure class="figuring" >
            <div  class="remotelearning1" style="height:595px">
            <section>
              <div >
               <br/>
               <br/>
                <h1 style="font-weight:bold;text-decoration: underline;color:#C71585;margin-left:12px">Miracle in Medical Field</h1>
                <br/>
                <p style="font-size:15px;font-weight:450;color:			#FFFF00;margin-left:12px">VR helps students to develop communication mechanisms with different patients before<br/><br/>
                    actual medical practice to understand their medical conditions better. For our project we not <br/><br/>
                    only research about educational challenges  we also do our analysis on medical envronment.<br/><br/>
                    about educational challenges we also do our analysis on medical environment.we studied  <br/><br/>
                    that  many medical students are intended to do practice and gain practical knowledge on <br/><br/>
                    using VR technology We also found that VR is being used as a powerful diagnostic tool, which <br/><br/>
                    practicals helps doctors and physicians to carry out accurate diagnosis,and the thing is that<br/><br/>
                    there are also many games which gives knowledge in medical field.<br/><br/>
                    </p>
              </div>
            
          </section>
          </div>
          </figure>
          
          
          <figure class="figuring">
            <div  class="remotelearning2" style="height:595px">
              <section>
                <div >
                 <br/>
                 <br/>
                  <h1 style="font-weight:bold;text-decoration: underline;color:#FFFF00;margin-left:10px">VR - The Future of Military Training</h1>
                  <br/>
                  <p style="font-size:15px;font-weight:450;color:#00FFFF;margin-left:10px">Well, when we are ready to take up this project we intended to do overall analysis of Vr usage<br/><br/>
                      It's an best decision our team taken,we found out that VR is being is used in Military purposes.<br/><br/>
                      Soldiers are able to learn insights of war traps using VR technology.It is great that we have<br/><br/>
                      been found out there are games related to military(Medal of Honor: Above and Beyond) <br/><br/>
                      It can also help them to learn how to deal with hostile environments, such as suicide bombers<br/><br/>
                       or sniper attacks etc.Most of the prestigious countries are insisted to give training to soldiers <br/><br/>
                       in VR technology.for  wars by using Virtual Reality Technology. US military is going to invest<br/><br/>
                       
                        large sum of amount for training their soldiers for wars by using Virtual Reality Technology.<br/><br/>
                      VR helps train armed forces in a realistic and intuitive manner that power comes for VR <br/><br/>
                      technology.<br/><br/>
                      
                      </p>
                </div>
              
            </section>
            </div>
          </figure>
        
          <figure class="figuring">
            <img src='./../../assets/virtual-reality-military.webp' />
          </figure>
        
          
          <figure class="figuring">
            <img src='./../../assets/VigorousHelplessHoatzin-max-1mb.gif' alt />
          </figure>
              
          <figure class="figuring" >
            <div  class="remotelearning3" style="height:542px">
            <section>
             
              <div >
               <br/>
               <br/>
                <h1 style="font-weight:bold;text-decoration: underline;color:#C71585;margin-left:12px">VR in Game Market</h1>
                <br/>
                <p style="font-size:15px;font-weight:450;color:			#FFFF00;margin-left:12px">The Global Virtual Reality in Gaming Market is valued at USD 7.5 Billion in 2021 and is <br/><br/>
                    projected to  reach a value of USD 37 Billion by 2028 at a CAGR (Compound Annual Growth <br/><br/>
                    Rate) of 30.5%.Request Players in the market are focused on adopting cloud models in VR<br/><br/>
                    game.This adoption would aid the users with an improved gaming experience and allow <br/><br/>
                    to customize their gaming library.Virtual reality games is possible through cloud based <br/><br/>
                    gaming solutions from any location and on any platform. Owing to this,the adoption of game<br/><br/>
                    clouding is considered one of the emerging trends for the future  developing market Key. <br/><br/>
                    </p>
              </div>
            
            
          </section>
          </div>
          </figure>
      
          
        </article>
      </div>
    
     





<div class="universe" style="margin-top:-1px">
  <br/>
  
  <div style="margin-top: 46px;">
    <h1 style="
      margin-left: 440px;
      font-weight: bold;color:#FFFF00">Tools we have used in Our project</h1>
    <img src="./../../assets/comment Object tool.gif" alt="Girl in a jacket" width="500" height="600" style="width: 563px;
    height: 326px;
    margin-left: 51px;
    margin-top: 10px;">
   
        <img src="./../../assets/wow.gif" alt="Girl in a jacket" width="500" height="600" style="margin-left: 84px;
        height: 326px;
        width: 517px;">
       

  </div>

     <h1 style="margin-left: 245px;
     margin-top: 10px;
     font-size: 30px;font-weight:bold;">Unity TOOL</h1>
     <div class="container10" style="height: 202px;">
      <h2 class="title1" style="margin-top: -326px;
      margin-left: -622px;">
        <span class="title-word title-word-1" style="font-size:20px;color:#800000	">THE WORLD'S</span>
        <span class="title-wordtitle-word-2" style="font-size:20px;color:#800000"> most open and Advanced</span>
        <br/>
        <span class="title-word title-word-3" style="font-size:20px;color:#800000">realtime 3D</span>
        <span class="title-word title-word-4" style="font-size:20px;color:#800000">Creation Tool</span>
      </h2>
    </div>

    <h1 style="margin-left: 891px;
    margin-top: -245px;font-weight:bold;font-size:30px	" >
      C# Coding
    </h1>
    <div class="container10" style="margin-top: -196px;
    margin-left: -15px;">
      <h2 class="title1" style="margin-left: 681px;
      margin-top: -300px;">
        <span class="title-word title-word-1" style="font-size:20px;color:#800000">Coding Creates</span>
        <span class="title-wordtitle-word-2" style="font-size:20px;color:#800000"> Miracles </span>
        <br/>
        <span class="title-word title-word-3" style="font-size:20px;color:#800000">than </span>
        <span class="title-word title-word-4" style="font-size:20px;color:#800000">you think!</span>
      </h2>
    </div>

  
    <img src="./../../assets/Mixamo.gif" alt="Girl in a jacket" width="500" height="600" style="height: 326px;
    width: 517px;
    margin-top: -261px;
    margin-left: 395px;">

<h1 style="margin-left: 510px;
font-weight: bold;">
Mixamo Character Design
</h1>
<div class="container10" style="margin-top: -370px;margin-left:30px">
  <h2 class="title1">
    <span class="title-word title-word-1" style="font-size:20px;color:#800000">Designing</span>
    <span class="title-wordtitle-word-2" style="font-size:20px;color:#800000"> is an Art</span>
    <br/>
    <span class="title-word title-word-3" style="font-size:20px;color:#800000">of VR </span>
    <span class="title-word title-word-4" style="font-size:20px;color:#800000">Technology</span>
  </h2>
</div>
</div>
<br/>
<br/>
<div>
<h1 style="margin-left: 570px;
font-weight: bold;
color: darkblue;font-size:30px">Timeline</h1>
<div>
<section>
  <div class="container py-5">
      <div class="row">
          <div class="col-md-12">
              <div class="main-timeline">
                  <div class="timeline">
                      <div class="timeline-content">
                          <div class="circle"><span class="homebox">
                            <img src="./../../assets/Research.jfif" class="img" style="width: 162px;
                            height: 164px;">
                           </span></div>
                          <div class="content">
                              <span class="year" style="background-color: #00FA9A;">Stage 1-Sep 2022</span>
                              <h3 class="title h4" style="color:#FF1493">Analysis is completed</h3>
                              <p class="description">
                                  Complete Analysis of all aspects of projects by extensive study of RESEARCH PAPERS, recent blogs, along with existing games.
                              </p>
                              <div class="icon"><span></span></div>
                          </div>
                      </div>
                  </div>
                  <div class="timeline">
                      <div class="timeline-content">
                          <div class="circle"><span class="homebox">
                            <img src="./../../assets/Map texturing.webp" class="img" style="width: 162px;
                            height: 164px;"/></span></div>
                          <div class="content">
                              <span class="year" style="background-color: 	#8A2BE2	;">Stage 2-Oct2022</span>
                              <h3 class="title h4" style="color: #DC143C;">Asset Creation</h3>
                              <p class="description">
                                In second stage of project we are intended to create simple Assets and we designed our own assets.Assets creation of our project plays an major role.
                              </p>
                              <div class="icon"><span></span></div>
                          </div>
                      </div>
                  </div>
                  <div class="timeline">
                      <div class="timeline-content">
                          <div class="circle"><span class="homebox">
                            <img src="./../../assets/UNITY .webp" class="img" style="width: 162px;
                            height: 164px;"></span></div>
                          <div class="content">
                              <span class="year" style="	background-color:	#00FA9A">Stage 3-Dec2022</span>
                              <h3 class="title h4" style="color:#D2691E">Practice Unity Application</h3>
                              <p class="description">
                                Use Unity Application to create Opening environment of Game Gather all assets required for other levels.Although Unity tool looks like easy tool to create an project we need to have high practice
                              </p>
                              <div class="icon"><span></span></div>
                          </div>
                      </div>
                  </div>
                  <div class="timeline">
                      <div class="timeline-content">
                          <div class="circle"><span class="homebox">
                            <img src="./../../assets/C sharp.jfif" class="img" style="width: 162px;
                            height: 164px;">
                          </span></div>
                          <div class="content">
                              <span class="year" style="background-color:#2F4F4F">Stage 4-Jan2023</span>
                              <h3 class="title h4" style="color:	#A52A2A">Practice C# Coding</h3>
                              <p class="description">
                                Use Unity and c# scripts to design atleast 3 levels in the game including Rewards and punishment stories.
                              </p>
                              <div class="icon"><span></span></div>
                          </div>
                      </div>
                  </div>
                   <div class="timeline">
                      <div class="timeline-content">
                          <div class="circle"><span class="homebox">
                            <img src="./../../assets/game develop.jfif" class="img" style="width: 162px;
                            height: 164px;"></span></div>
                          <div class="content">
                              <span class="year" style="background-color:		#4169E1">Stage 5-March2023</span>
                              <h3 class="title 4" style="color:	#00CED1">Game Developing</h3>
                              <p class="description">
                                Develop our idea  into a complete application.Apply our designing, skills  and ideas into an complete application.
                              </p>
                              <div class="icon"><span></span></div>
                          </div>
                      </div>
                  </div>
                  </div>

<br/>
<br/>
<div class="scene">
  <h1 style="font-size:30px;font-weight:bold;color:	#0000FF;word-spacing: normal;">Environmental Setup:</h1><div>
  <span style="font-size:16px">  We created an 10 Environmental Settings, There are upto  10 levels - to Unlock another level we designed an game in an way that should solve the queries and after an <br/>
    door gets unlocked which allows to go to the another level.In our game we created an inventory for game objects , end-user need to collect all the game objects in an<br/>
    inventory list after collecting on object it gets highlighted when we pick up the game object in an green color from gray color.After collecting all the game objects our girl <br/>
    character called Rin  is going to enter into an another game environment there are may enviromental setups ZOO, School, and other Environments. AS we implement<br/>
    english learning VR game we involve beginner to experienced questions for students to improve knowledge in English communication skills  for interviews, Group <br/>
    discussions, etc.. . Our game environment designed in an way that excites users and VR players to enhance more english learning skills.</span>
    <br/>
    <br/>
   <span style="font-size:16px"> <span style="font-weight:bold;color:	#0000FF
    ">Basic Scene :  </span>Our starting level of the game for finding the objects with the help of button and without completing this level we can not move to further <br/>
<span style="font-weight:bold;color:	#0000FF">Scene 1   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </span>A scene where finding Objects by answering questions in the Environment of a house.<br/>
   <span style="font-weight:bold;color:	#0000FF"> Scene 2  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </span>A scene where finding objects by answering questions in the environment of a playground.<br/>
  <span style="font-weight:bold;color:	#0000FF"> Scene 3  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </span>A scene where finding objects by answering questions in the environment of cafe.<br/>
  <span style="font-weight:bold;color:	#0000FF"> Scene 4  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </span>A scene where conversation with third person and an NPC happens and is definitely required to enter scene 5 Zoo.<br/>
  <span style="font-weight:bold;color:	#0000FF"> Scene 5  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </span>A scene where finding Objects by answering questions in the environment of a zoo accompanied by scene 4<br/>
  <span style="font-weight:bold;color:	#0000FF"> Scene 6 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </span>A scene where finding Objects by answering questions in the environment of a school ground level.<br/>
  <span style="font-weight:bold;color:	#0000FF"> Scene 7 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </span>A scene where finding Objects by answering questions in the environment of a school first floor.<br/>
  <span style="font-weight:bold;color:	#0000FF"> Scene 8 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </span>A scene where finding Objects by answering questions in the environment of a school Second floor.<br/>
  <span style="font-weight:bold;color:	#0000FF"> Scene 9 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </span>A scene where finding Objects by answering questions in the environment of a school third floor.<br/>





</span>
  </div>
</div>
<br/>
<br/>
<br/>
<h1 style="font-weight:bold;margin-left:400px">DEMO OF OUR PROJECT</h1>
                  <div class="body8" style="width: 1279px;
                  background-color: whitesmoke;
                  margin-bottom: -26px;
                  margin-top: -56px;margin-left:-90px">
                      <section class="section8" style="  width: 1280px;
                      height: 613px;
                      margin-top: 64px; 
                    " class="videoplaying">   
                        <br/>
                          <a href="./../../assets/WhatsApp Video 2023-04-03 at 12.43.51 PM.mp4" class="playBtn" style="margin-left: 586px;
                          margin-top: 187px;"></a>
                      </section>
                    </div> 


<div>
  <h1 style="margin-left: 474px;
  font-weight: bold;
  margin-top: 33px;
  padding-top: 12px;">OUR TEAM</h1>
  <img src="./../../assets/project work.png" class="img" style="margin-left: -92px;
  width: 1282px;
  margin-top: -1px;">
</div>
























<br/>
<br/>
<br/>





<div class="col-md-12 text-center">
                        
  <h3 class="animate-charcter" style=" height: 170px;
 
 
margin-top:45px;
 padding-top:10px;
  font-size: 42px;
">LET'S MAKE IMPOSSIBLE TO I'M POSSIBLE <br/><br/>
                THANKING YOU!</h3>




</div>

